@page
@model SinusSkateboards.Pages.CreateModel
@{
}

<h5>Enter product infromation: </h5>
<form method="post">
    <label>Product name: </label><br />
    <input type="text" asp-for="@Model.Name" />
    <br />
    <label>Product price:</label><br />
    <input type="number" asp-for="@Model.Price" />
    <br />
    <label>Product information: </label><br />
    <input type="text" asp-for="@Model.Info" />
    <br />
    <label>Product ID: </label><br />
    <input type="text" asp-for="@Model.ID" />
    <br />
    <label>Product image: </label><br />
    <input type="text" asp-for="@Model.Image" />
    <br />
    <label>Product stock: </label><br />
    <input type="number" asp-for="@Model.Stock" />
    <br />
    <label>This weeks bestseller: </label><br />
    <div class="form-check form-check-inline">
        <input type="radio" asp-for="@Model.IsBestseller" name="IsBestseller" id="opt1" value="true" /><label for="opt1">Yes</label><br />
        <input type="radio" asp-for="@Model.IsBestseller" name="IsBestseller" id="opt2" value="false" /><label for="opt2">No</label><br />
    </div>

    <br /><input type="submit" value="Confirm new product" />
    <br /><p>@Model.Message</p>
</form>